<%= link_to collection_path(collection.searchable_id) do %>
  <div class="home-collection-card">
    <div class="home-collection-image">
      <% if collection.photo.attached? %>
        <%=cl_image_tag(collection.photo.key, height: 110) %>
      <% end %>
    </div>
    <div class="home-collection-title">
      <h3><%= collection.searchable.label %></h3>
    </div>
  </div>
<% end %>
