// Define variables for your color scheme

// For example:
$orange: #BF3A0C;
$blue: #223D9F;
$purple: #8991DC;
$green: #89C5CD;
$background: #E7E1DE;
$gray: #0E0000;
$light-gray: #F4F4F4;
$yellow: yellow;
$red: red

