<div class="footer mt-5 px-5">
  <h1 class="m-0">daytm</h1>
  <%# <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div> %>
  <div class="footer-copyright d-none d-sm-block">
    <p class="m-0">© 2024 Daytm. All rights reserved.</p>
  </div>
  <div class="footer-copyright d-sm-none">
    <p class="m-0 fs-5">© 2024</p>
  </div>
</div>
