<div class="image-title-container">
  <div class="landing-page-opening-title">
    <h1> <strong>All your information</strong></h1>
    <h2>collected in one place </h2>
    <p>Available whenever you need it</p>
    <button class = "black-primary-btn">
    <p>Sign up</p>
    </button>
  </div>
    <img src="https://res.cloudinary.com/dp3xfbod8/image/upload/v1686834012/Tutto_Ricco_-_Marching_itxym9.png" alt="" width =800px >
</div>

    <!-- ADD ANOTHER SIGN UP BUTTON HERE (SEE COLLECT PAGE)  -->
<div class="empowering-you-container">
  <p> Empowering you to effortlessly organise and retrieve your personal information </p>
</div>

<div class="intuitive-taging-container">
  <p> Using intuitive tagging and a powerful search engine. Say goodbye to the frustration of lost personal information with <strong> daytm.</strong></p>
</div>

<div class="second-image-landing-page">
    <img src="https://res.cloudinary.com/dp3xfbod8/image/upload/v1686837790/Tutto_Ricco_-_Fresh_Air_ylbk1e.png" alt="" width =900px >
  <div class="seamlessly-store">
    <p>Designed for busy people. Seamlessly store, tag, and save your data.</p>
  </div>
</div>

<div class="convenience">
  <p>Enjoy the convenience of effortlessly searching and accessing your data whenever you need it.</p>
</div>
