<div class="image-title-container">
  <div class="landing-page-opening-title">
    <h1><strong>All your information</strong></h1>
    <h2>collected in one place </h2>
    <p>Available whenever you need it</p>
    <%= link_to "Sign up", "#newsletter", class: "text-decoration-none black-primary-btn" %>
  </div>
    <img src="https://res.cloudinary.com/dp3xfbod8/image/upload/v1686834012/Tutto_Ricco_-_Marching_itxym9.png" alt="" width=800px >
</div>

<div id="newsletter" class="newsletter-signup-container">
  <h2>Coming Soon</h2>
  <p>This web application is currently in the prototype phase and is not yet ready for full use. We appreciate your interest and ethusiasm.</p>
  <p>Kindly sign up below, and we'll keep you informed when the app is ready for launch. Thank you for your patience and support!</p>
  <form data-controller="mailchimp"
        data-action="submit->mailchimp#send"
        data-mailchimp-api-key-value="<%= ENV['MAILCHIMP_API_KEY'] %>" class="newsletter-signup">
    <div class="newsletter-signup-inputs">
      <input data-mailchimp-target="input" placeholder="Email Address" type="email" id="email" name="email" required class="newsletter-signup-input-field form-control">
      <input type="submit" value="Subscribe" class="text-decoration-none black-primary-btn">
    </div>
  </form>
</div>

<div class="empowering-you-container">
  <h2>Why wait?</h2>
  <p>Empowering you to effortlessly organise and retrieve your personal information.</p>
</div>

<div class="intuitive-taging-container">
  <p>Using intuitive tagging and a powerful search engine. Say goodbye to the frustration of lost personal information with <strong> daytm.</strong></p>
</div>

<div class="second-image-landing-page">
    <img src="https://res.cloudinary.com/dp3xfbod8/image/upload/v1686837790/Tutto_Ricco_-_Fresh_Air_ylbk1e.png" alt="" width=900px >
  <div class="seamlessly-store">
    <p>Designed for busy people. Seamlessly store, tag, and save your data.</p>
  </div>
</div>

<div class="convenience">
  <p>Enjoy the convenience of effortlessly searching and accessing your data whenever you need it.</p>
</div>
