<h1>daytm</h1>



<article class="landing-page-card">
  <img
    class="landing-page-card__background"
    src="https://i.imgur.com/QYWAcXk.jpeg"
    alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
    width="1920"
    height="2193"
  />
  <div class="landing-page-card__content | flow">
    <div class="landing-page-card__content--container | flow">
      <h2 class="landing-page-card__title">Colombia</h2>
      <p class="landing-page-card__description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum in
        labore laudantium deserunt fugiat numquam.
      </p>
    </div>
    <button class="landing-page-card__button">Read more</button>
  </div>
</article>
