
<h1> <strong>All your information</strong></h1>
<h2>collected in one place </h2>
<p>Available whenever you need it</p>
</section>

    <!-- ADD ANOTHER SIGN UP BUTTON HERE (SEE COLLECT PAGE)  -->
    <p> Empowering you to effortlessly organise and retrieve your personal information </p>
    <p> Using intuitive tagging and a powerful search engine. Say goodbye to the frustration of lost personal information with daytm.</p>

    <p>Seamlessly store, tag, and save your data.</p>
    <p>Enjoy the convenience of effortlessly searching and accessing your data whenever you need it.</p>

    <p>Designed for busy people.</p>

<div class="landing-page-info-cards">
  <article class="landing-page-card">
    <div class="landing-page-card__content | flow">
      <div class="landing-page-card__content--container | flow">
        <h2 class="landing-page-card__title">Private</h2>
        <p class="landing-page-card__description">

        </p>
  </article>


  <article class="landing-page-card">
    <img
      class="landing-page-card__background"
      src="https://i.pinimg.com/564x/09/4f/d3/094fd38578047a7893a17a50ecc4723b.jpg"
      alt="Random image"
      width="1920"
      height="2193"
    />
    <div class="landing-page-card__content | flow">
      <div class="landing-page-card__content--container | flow">
        <h2 class="landing-page-card__title">Secure</h2>
        <p class="landing-page-card__description">
        </p>
  </article>


  <article class="landing-page-card">
    <img
      class="landing-page-card__background"
      src="https://i.pinimg.com/564x/b2/74/d6/b274d6e307c091e89feed9502cb9fbcb.jpg"
      alt="Random image"
      width="1920"
      height="2193"
    />
    <div class="landing-page-card__content | flow">
      <div class="landing-page-card__content--container | flow">
        <h2 class="landing-page-card__title">Organized</h2>
        <p class="landing-page-card__description">

        </p>
  </article>
</div>

<div class="footer">
<h1>daytm</h1>
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
