<div>
  <h1 class="text-center mt-4" ><%= @tag.name.capitalize%></h1>
</div>

<div class="collections-show-items-cards">
  <% @items.each do |item| %>
    <%= render partial: "items/item_card", locals: { item: item } %>
  <% end %>
</div>
