/* START OF CSS STYLES FOR COLLECTIONS SHOW PAGE */

.collections-show-items-cards {
  display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2.5rem;
	margin: 10vh auto;
  a {
    text-decoration: none;
  }
}

.collections-show-item-card {
  display: flex;
  width: 420px;
  height: 200px;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
  position: relative;

  a {
    text-decoration: none;
  }
}

.collections-show-item-card img {
  width: 40%;
  height: 100%;
}

.collections-show-item-card-info {
  padding: 15px;
}

.collections-show-title {
  font-weight: 220;
  font-size: 24px;
  color: rgb(31, 48, 70);
}

.collections-show-item-card-description {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(78, 88, 101);
}

.collections-show-item-card-comments {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 20px
}

/* END OF CSS STYLES FOR COLLECTIONS SHOW PAGE*/


/* START OF CSS FOR HOME PAGE */

.all-collections-container {
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 40px;
  padding: 20px;
  a {
    text-decoration: none;
    color: black;
  }
}

.home-collection-card {
  height: 180px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
}

.home-collection-title {
  h3 {
    font-size: 16pt;
    margin-bottom: 0;
  }
}

.home-collection-image {
  width: 80px;
  height: 150px;
  border: 1px solid pink;
  margin: 10px;
}

.collections-header {
  display: flex;
  justify-content: center;
  margin: 64px;
}

.add-button {
  display: flex;
  justify-content: right;
}

.add-button {
  position: fixed;
  bottom: 100px;
  right: 100px;
}

@media(max-width: 992px) {
  .all-collections-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .all-collections-container {
    grid-template-columns: 1fr;
  }
}

/* END OF CSS FOR HOME PAGE */

/* START OF CSS FOR NEW ITEM PAGE */

.new-item-form-inputs-container {
  padding-right: 10px;
  padding-top: 10px;
  font-size: 16px;
  border: solid rgb(255, 0, 0) 1px;
  justify-content: center;
  border-radius: 15px;
  padding: 15px;
  width: 60%;
}

.new-item-image-container {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 16px;
  border: 1px solid forestgreen;
  justify-content: center;
  width: 35%;
}

.new-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid blue;
  width: 80%;
  margin: 60px auto;
}

.new-item-form-container {
  display: flex;
  border: 1px solid orange;
  width: 100%;
  justify-content: space-between;

}

.new-item-tags-container {
  display: flex;
  align-items: center;
}

.new-item-tag-checkbox {
  display: inline-block;
  margin-right: 10px;
}

/* END OF CSS FOR NEW ITEM PAGE */
