.item-show-container {
  width: 1205px;
  display: flex;
  justify-content: center;
}

.item-info{
  width: 55%;
  padding: 100px;
  padding-top: 10px;
  font-size: 16px;
  border: solid rgb(71, 71, 71) 1px;
  justify-content: center;
}

.item-file-container{
  width: 50%;
  border: 100%;
}


/* CSS STYLES FOR COLLECTIONS SHOW PAGE*/
.items-cards {
  display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2.5rem;
	margin: 10vh auto;
  a {
    text-decoration: none;
  }
}

.item-card {
  display: flex;
  width: 420px;
  height: 200px;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
  position: relative;

  a {
    text-decoration: none;
  }
}

.item-card img {
  width: 40%;
  height: 100%;
}

.item-card-info {
  padding: 15px;
}

.title {
  font-weight: 220;
  font-size: 24px;
  color: rgb(31, 48, 70);
}

.item-card-description {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(78, 88, 101);
}

.item-card-comments {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 20px
}

// for home page

.all-collections-container {
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 40px;
  padding: 20px;
  a {
    text-decoration: none;
    color: black;
  }
}

.home-collection-card {
  height: 180px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
}

.home-collection-card-all-items {
  height: 180px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(137, 145, 220);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
}

.home-collection-title {
  h3 {
    font-size: 16pt;
    margin-bottom: 0;
  }
}

.home-collection-image {
  width: 80px;
  height: 150px;
  margin: 10px;
  display: flex;
  justify-content: center;
}

.collections-header {
  display: flex;
  justify-content: center;
  margin: 64px;
}

.add-button {
  display: flex;
  justify-content: right;
}

.add-button {
  position: fixed;
  bottom: 100px;
  right: 100px;
}

.no-results-card {
  display: flex;
  justify-content: center;
}

@media(max-width: 992px) {
  .all-collections-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .all-collections-container {
    grid-template-columns: 1fr;
  }
}
