.item-show-container {
  padding: 75px 300px;
}

.item-show-card {
  display: flex;
  padding: 16px 24px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px gray;
  background-color: white;
  border: blue 1px solid;


  h4 {
    font-size: 20px;
  }

  p {
    color: black;
  }
}

.item-show-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px;
  border:#D33A2C 1px solid;
}

.item-show-infos-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border: violet 1px solid;

  p {
    font-size: 2px;
  }
}

.item-show-edit-delete {
  display: flex;
  align-items: center;
  border: 1px solid orange;

  a {
    color: black;
  }

  i {
    font-size: 20px;
    margin-left: 20px;
    color: grey;
  }

  i:hover {
    cursor: pointer;
    color: black;
  }
}

.item-show-tags-section {
  border: 1px solid rgb(92, 56, 62)
}

.item-show-tags {
  display: flex;
  border: green 1px solid;
}

.item-show-tag {
  background-color: #95A5DF;
  padding: 2px 12px;
  border-radius: 80px;
  margin-right: 6px;
  color: #1B307F;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;


  p {
    font-size: 12px;
    margin: 0px;
    color: 1B307F;
  }
}


#comment_content.form-control.text.optional {
  height: 30px;
  background-position: 0 0;
  border: 1px solid #FEE0E0;
  border-radius: 11px;
  box-sizing: border-box;
}
.item-show-infos-section {
  display: flex;
}

.item-show-comments-section {
  border: 6px solid rgb(144, 41, 81);
}

.item-show-comment {
  p {
    font-size: 14px;
    margin: 2px;

    span {
      opacity: 60%;
      font-style: italic;
      font-size: 10px;
    }
  }
}


.tag-1 {
  background-color: #95A5DF;
  border-radius: 100px;
  box-shadow: 1B307F(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: #1B307F;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.tag-1:hover {
  box-shadow: 1B307F(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
