.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 150px;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;

}

.container-fluid {
  display: flex;
  justify-content: left;
}
