.new-item-container {
  padding: 20px;
  width: 50%;
  margin: 0 auto;
}

.new-item-form-container {
  width: 100% ;
  background-color: white;
  border-radius: 12px;
  box-shadow: 10px 10px 15px gray;
  margin-top: 20px;
  padding: 0px 20px;
    h1 {
      text-align: center;
      padding: 18px 0px;
    }

}

.new-item-form-inputs-container {
  display: flex;
}

.new-item-form-photos {
  background-color: #89C5CD ;
  padding: 10px;
  border-radius: 20px;
  margin-right: 40px;

}

.new-item-form-inputs {
  width:70%;
}
.new-item-form-tags {
  display: flex;
  align-items: center;
}
.new-item-form-tag-collection {
  flex-grow: 1;
}

.new-tag-modal {
  padding: 0px 18px;
}


#new_item {
  .form-control {
    border-left: white;
    border-color: white;
    border-top: white;
    border-bottom: grey solid 1px;
    background-color: white;
  }

  .form-select {
    border-left: white;
    border-color: white;
    border-top: white;
    border-bottom: grey solid 1px;
    background-color: white;
  }

  .form-check {
    display: inline-block;
    min-height: 1.5rem;
    padding-left: 3.5em;
    margin-bottom: 0.125rem;
  }

  .ts-control {
    border: white;
  }
}

.new-item-form-submit {
  text-align: center;

    .btn {
    font-size: 23px;
    background-color: aquamarine;
    padding: 12px 24px;
    border-radius: 8px;
    }

}
