.search-bar {
  margin: 5px;
  height: 60px;
  border-radius: 50px;
  padding: 20px;
  background-color: white;
  width: 100%;
  justify-content: center;
  border: 1px solid #ffffff;
  box-shadow: #bababa 0 10px 20px -10px;
}

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-button {
  margin: 5px;
  height: 60px;
  background: #b9b9b99e;
  border-radius: 999px;
  box-shadow: #bababa 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  border: 0;
}

.search-button:hover {
  margin: 5px;
  height: 60px;
  background: #b9b9b945;
  border-radius: 999px;
  box-shadow: #bababa5d 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  border: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.search-bar-container {
  margin-top: 64px;
  display: flex;
  justify-content: center;
}
