.search-bar {
  height: 60px;
  border-radius: 50px;
  padding: 20px;
  background-color: white;
  width: 100%;
  justify-content: center;
}

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-button {
  margin: 5px;
  background: #767676;
  border-radius: 999px;
  box-shadow: #bababa 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
